{% extends "main/wrapper.html" %}

{% block content %}

<main role="main">
  <div class="container">
         <div class="col-md-12">
             <div class="media-container-row">
                 <div class="mbr-figure" style="width: 50%;">
                     <img src="{{production.image.url}}" alt="Mobirise" title="" media-simple="true" >
                 </div>
                 <div class=" align-left">
                     <h3 class="mbr-title pt-2 mbr-fonts-style display-2">{{production.title}}</h3>
                     <div class="mbr-section-text">
                         <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">{{production.text}}</p>
                     </div>
                 </div>
             </div>
         </div>
    </div>
</main>
{% endblock %}

<!-- <div class="container">

\
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top"
        data-src="holder.js/100px225?theme=thumb&amp;
        bg=55595c&amp;fg=eceeef&amp;
        text=Thumbnail" alt="Thumbnail [100%x100]"
        src="{{production.image.url}}"
        style="height: 200px; width: 50%; display: block;">
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="font-weight-normal">{{production.title}}</h4>
        <h5 class="card-title pricing-card-title">
          {{production.price}}
        </h5>
        <p class="list-unstyled">{{production.text}}</p>
    </div>
    </div>
  </div>
  -->
