{% extends "main/wrapper.html" %}
{% block content %}
<main role="main">
    <div class="background-photo">
        <div class="container  div-height">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <img class="center" width="300px" src='../../media/logo_dr_grill_1k.png' />
            </div>
            <div class="row justify-content-center">
                <h5 class="font-weight-normal text-center text-white" id='under-logo-product'>
                Предлагаем высококачественное оборудование</br>
                российского производства
                </h5>
            </div>
            <div class="row justify-content-center">
                <div class="col-8" id="justify">
                    <p class="font-weight-lighter dline sansserif text-white" id='size-text'>
                        Аппарат для шаурмы - приготовление нарезки выполняется по средствам 2-х  (3-х)
                        электронагревательных элементов, механизм изменения нагрева,
                        представлен,термостойкими выключателями. Изделие изготовлено из пищевой
                        нержавеющей стали. Шампур имеет регулировку высоты под мясо до 480 (780) мм и
                        регулировку расстояния до нагревательных спиралей. Средние и Большие габариты,
                        непревзойдённый потенциал - идеальное решение выдерживающее большой наплыв
                        количества посетителей
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="album py-5 background-product">
        <div class="container">
            <div class="row justify-content-center">
                {% for post in object_list %}
                <div class="col-md-4">
                    <div class="card pb-md-4 img-shadow">
                        {% if post.image != None %}
                        <a data-fancybox="gallery" href="{{post.image.url}}">
                            <img class="card-img-top"
                            data-src="holder.js/100px225?theme=thumb&amp; bg=55595c&amp; fg=eceeef&amp; text=Thumbnail"
                            alt="Thumbnail [100%x225]"
                            src="{{post.image.url}}"
                            id="size-novelties">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">
                              {{post.product.title}}
                            </p>
                            <p class="card-text">{{post.product.text}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="{% url 'product' post.product.id %}"
                                class="btn btn-primary my-2">
                                Посмотреть
                            </a>
                                </div>
                                 <p class="text-right">{{post.product.price}}</p>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</main>
{% endblock %}
