{% extends "main/wrapper.html" %}
{% block content %}
<main role="main">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="mbr-title pt-2 mbr-fonts-style display-3">Dr.Grill</h1>
            <p class="lead font-weight-bold text-center">Мы продаем профессиональные аппараты-грили</br>
              для приготовления шавермы по доступной цене
            </p>
          </div>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
              <h4><strong>Оборудование для профессиональной кухни!</strong></h4>
              <ul class="list-unstyled lead">
                Специализация бренда Dr.Grill - высококачественные профессиональные аппараты</br> грили для приготовления шавермы по доступной цене.
                Покупая грили под маркой Dr.Grill,</br> вы можете быть уверены в том, что приобретаете продукцию, отвечающую всем</br>
                современным требованиям рынка.
                </ul>
        </div>
      <div class="album py-5">
          <div class="container">
            <div class="row">
              {% for post in object_list %}
              <div class="col-md-4">
                <!-- расстояние уменьшить между продукцией -->
                <div class="card mb-4 box-shadow"
                style="height: 460px; width: 295px;">
                  {% if post.image != None %}
                  <img class="card-img-top"
                  data-src="holder.js/100px225?theme=thumb&amp;
                  bg=55595c&amp;fg=eceeef&amp;
                  text=Thumbnail" alt="Thumbnail [100%x225]"
                  src="{{post.image.url}}"
                  style="height: 280px; width: 220px; display: block;">
                  {% endif %}
                  <div class="card-body">
                    <h4 class="font-weight-normal">{{post.title}}</h4>
                    <h5 class="card-title pricing-card-title">
                      {{post.price}}
                    </h5>
                    <p class="list-unstyled">{{post.text}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="production/{{post.id}}"
                        class="btn btn-sm btn-outline-secondary">Посмотреть
                      </a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </main>
{% endblock %}

<!-- <h1 class="display-4">Dr.Grill</h1> -->
