<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Store</title>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark">
          <h4 class="my-0 mr-md-aut font-weight-normal text-light">Dr.Grill</h4>
          <nav class="my-2 my-md-0 mr-md-3">
                <a class="navbar-brand mr-auto mr-lg-0 p-2 text-light btn " href="/"><small>Главная</small></a>
                <a class="navbar-brand mr-auto mr-lg-0 text-light btn my-2" href="/about-us"><small>О нас</small></a>
                <a class="navbar-brand mr-auto mr-lg-0 text-light btn my-2" href="/production"><small>Продукция</small></a>
                <a class="navbar-brand mr-auto mr-lg-0 text-light btn my-2" href="/contact"><small>Контакты</small></a>
            </nav>
            </div>
    </header>
    {%block content%}
		{%endblock%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
