{% extends "main/wrapper.html" %}

{% block content %}
<main role="main">
      <div class="container">
            <div class="row justify-content-center">
                  <h3 class="col-md-4 display-2 text-center" id="logo-DrG">Dr.Grill</h3>
            </div>
            <div class="row justify-content-center">
                  <div class="col-8">
                        <p class="lead font-weight-bold text-center" id="under-logo">
                              Предлагаем высококачественное оборудование</br>
                              российского производства
                        </p>
                  </div>
            </div>
            <div class="row justify-content-center pt-md-3">
                  <div class="lead font-weight-bold text-center" id="under-logo">
                        <p>Обращайтесь к нам по любым вопросам, мы обязательно ответим:</p>
                  </div>
                  <div class="col-8">
                        <p class="lead text-center">Email:  drgrill78@gmail.com /  Телефон:  +7 (953) 172-28-33</p>
                  </div>
            </div>
      </div>
</main>
{% endblock %}
