{% extends "main/wrapper.html" %}

{% block content %}
<main role="main">
      <div class="container">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
              <img class="center" width="300px" src='../../media/logo_dr_grill_1k.png' />
          </div>
            <div class="row justify-content-center">
                  <div class="col-8">
                        <p class="lead font-weight-bold text-center text-white" id="under-logo">
                              Предлагаем высококачественное оборудование</br>
                              российского производства
                        </p>
                  </div>
            </div>
            <div class="row justify-content-center pt-md-3">
                  <div class="lead font-weight-bold text-center" id="under-logo">
                        <p class="text-white">Обращайтесь к нам по любым вопросам, мы обязательно ответим:</p>
                  </div>
                  <div class="col-8">
                        <p class="lead text-center text-white">Email:  drgrill78@gmail.com /  Телефон:  +7 (953) 172-28-33</p>
                  </div>
            </div>
      </div>
</main>
{% endblock %}
