{% extends "main/wrapper.html" %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-3">Dr.Grill</h1>
      <p class="lead font-weight-bold text-center">
        Предлагаем высококачественное оборудование</br>российского производства
      </p>
      <p><em>-  БУДЕМ НА СВЯЗИ  -</em></p>
</div>
<main role="main" class="container">
      <h5>Обращайтесь к нам по любым вопросам, мы обязательно ответим:</h5>
      <p class="lead">Email:  drgrill78@gmail.com /  Телефон:  +7 (953) 172-28-33</p>
</main>
{% endblock %}
